# .gitignore template based on your .config directory
# add the '#' from a line to keep that item.
# Directories have a trailing slash '/'

## Directories
acbr-comic-book-reader/
#alacritty/
audacious/
autostart/
betterlockscreen/
bookmarks/
cache_directory/
calibre/
calcure/
Clementine/
clipit/
Code/
conky/
Cursor/
dconf/
doom/
dunst/
enchant/
eog/
evolution/
flameshot/
fusuma/
gh/
gnome-session/
goa-1.0/
google-chrome/
gthumb/
gtk-3.0/
gtk-4.0/
htop/
#i3/
#i3blocks/
ibus/
JetBrains/
kazam/
#kitty/
launcher/
lunarclient/
menus/
mopidy/
mpv/
nautilus/
neofetch/
nicotine/
nnn/
notekami/
#nvim/
nvim-LAZYnvim/
nvim-temp/
nvim-temp-JVSCHOLZ/
nvim-temp-nvchad/
obsidian/
#picom/
plank/
polybar/
polybartemp1/
polybartemp2/
polybar-themes/
procps/
pulse/
ristretto/
#rofi/
#scripts/
spotify/
spotifyd/
systemd/
temp.emacs.d/
tenacity/
test/
Thunar/
tiling-assistant/
#tmux/
transmission/
update-notifier/
Vita3K/
vlc/
Windsurf/
xarchiver/
xfce4/
xournalpp/
yelp/

## Files
:q
QtProject.conf
ayo.c
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
pavucontrol.ini
Psst
rofi.j
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xclicker.conf
xdg-terminals.list
zoom.conf
zoomus.conf
gitignore.temp
.gsd-keyboard.settings-ported
